.container {
  background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .text {
    font-size: 1rem;
  }
  